.square_button {
    border-radius: 20px;
    height: 100px;
    align-self: stretch;
}

.square_button>.background {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}