.circle_button {
    height: 80px;
    width: 80px;
    border-radius: 90px;
    align-self: center;
}

.circle_button > .background {
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
}
