:root {
    --text-outline: var(--primary-3);
    
    --text-color: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --focused-button-border-color: rgb(21, 197, 197);
    
    --button-border-color: var(--primary-3);

    --card-background-color: rgba(169, 132, 214, 0.4);

    --primary: #925DD3;
    --primary-2: #554e74;
    --primary-3: #39284A;

    --secondary: #fff;
}
