.animated-count {
    transition-duration: 400ms;
    transition-property: scale, opacity;
}

.transition {
    opacity: 0;
    scale: 1.2 1.2;
    rotate: 10deg;
}

.animated-text {
    transition-duration: 400ms;
    transition-property: scale, opacity;
}

.start-text {
    font-size: 120px;
    -unity-text-outline-width: 6px;
}
